/* src/styles/payloadStyles.css */

/* Define the Tailwind layers in the correct order */
@layer theme, base, components, utilities;

/* Import the Tailwind theme styles */
@import 'tailwindcss/theme.css' layer(theme);

/* Skip the preflight reset to avoid conflicts with Payload's admin styles */
/* @import 'tailwindcss/preflight.css' layer(base); */

/* Import Tailwind utilities */
@import 'tailwindcss/utilities.css' layer(utilities);

/* Support Payload’s dark mode toggle by adding a custom variant */
@custom-variant dark (&:where([data-theme=light], [data-theme=light] *));

:root {
    /* Variables */
    --theme-bg: var(--theme-elevation-0);
    --theme-input-bg: var(--theme-elevation-0);
    --theme-text: var(--theme-elevation-800);
    --theme-overlay: rgba(5, 5, 5, 0.5);
    --font-body: 'Suisse Intl', system-ui;
    --font-mono: monospace;
    --font-serif: 'Merriweather', serif;
    --style-radius-s: 21px;
    --style-radius-m: 30px;
    --style-radius-l: 41px;
    --nav-width: 275px;

    /* Color Shades */
    --color-base-0: #ffffff;
    --color-base-50: #fff2f4;
    --color-base-100: #ffe6e9;
    --color-base-150: #ffd9de;
    --color-base-200: #feccd3;
    --color-base-250: #fec0c7;
    --color-base-300: #feb3bc;
    --color-base-350: #fea6b1;
    --color-base-400: #fe99a6;
    --color-base-450: #fe8d9b;
    --color-base-500: #f4455b;
    --color-base-550: #e34054;
    --color-base-600: #d13b4e;
    --color-base-650: #c03647;
    --color-base-700: #ae3141;
    --color-base-750: #9d2c3a;
    --color-base-800: #8c2734;
    --color-base-850: #7a222d;
    --color-base-900: #691d27;
    --color-base-950: #571820;
    --color-success-0: #ffffff;
    --color-success-50: #f2fef9;
    --color-success-100: #e6fcf3;
    --color-success-150: #d9fbed;
    --color-success-200: #cdfae6;
    --color-success-250: #c0f8e0;
    --color-success-300: #b3f7da;
    --color-success-350: #a7f6d4;
    --color-success-400: #9af5ce;
    --color-success-450: #8df3c8;
    --color-success-500: #46e4a0;
    --color-success-550: #41d495;
    --color-success-600: #3cc389;
    --color-success-650: #37b37e;
    --color-success-700: #32a372;
    --color-success-750: #2d9267;
    --color-success-800: #28825c;
    --color-success-850: #237250;
    --color-success-900: #1e6245;
    --color-success-950: #195139;
    --color-warning-0: #ffffff;
    --color-warning-50: #fffbf3;
    --color-warning-100: #fff7e7;
    --color-warning-150: #fff3db;
    --color-warning-200: #ffefd0;
    --color-warning-250: #ffebc4;
    --color-warning-300: #ffe7b8;
    --color-warning-350: #ffe3ac;
    --color-warning-400: #ffdfa0;
    --color-warning-450: #ffdb94;
    --color-warning-500: #f6be50;
    --color-warning-550: #e5b14a;
    --color-warning-600: #d3a345;
    --color-warning-650: #c1953f;
    --color-warning-700: #b08839;
    --color-warning-750: #9e7a34;
    --color-warning-800: #8d6d2e;
    --color-warning-850: #7b5f28;
    --color-warning-900: #6a5222;
    --color-warning-950: #58441d;
    --color-error-0: #ffffff;
    --color-error-50: #fff6f4;
    --color-error-100: #ffede9;
    --color-error-150: #fee4de;
    --color-error-200: #fedbd3;
    --color-error-250: #fed1c7;
    --color-error-300: #fec8bc;
    --color-error-350: #febfb1;
    --color-error-400: #fdb6a6;
    --color-error-450: #fdad9b;
    --color-error-500: #f3775b;
    --color-error-550: #e26e54;
    --color-error-600: #d1664e;
    --color-error-650: #bf5d47;
    --color-error-700: #ae5541;
    --color-error-750: #9c4c3a;
    --color-error-800: #8b4434;
    --color-error-850: #7a3b2d;
    --color-error-900: #683327;
    --color-error-950: #572a20;
    --color-accent-0: #ffffff;
    --color-accent-50: #ffeef0;
    --color-accent-100: #ffdde0;
    --color-accent-150: #ffcbd1;
    --color-accent-200: #febac1;
    --color-accent-250: #fea9b2;
    --color-accent-300: #fe98a3;
    --color-accent-350: #fe8793;
    --color-accent-400: #fe7684;
    --color-accent-450: #fe6475;
    --color-accent-500: #f4061f;
    --color-accent-550: #e3051d;
    --color-accent-600: #d1051a;
    --color-accent-650: #c00518;
    --color-accent-700: #ae0416;
    --color-accent-750: #9d0414;
    --color-accent-800: #8c0312;
    --color-accent-850: #7a030f;
    --color-accent-900: #69020d;
    --color-accent-950: #57020b;

    /* Theme Accent Colors */
    --theme-accent-0: var(--color-accent-0);
    --theme-accent-50: var(--color-accent-50);
    --theme-accent-100: var(--color-accent-100);
    --theme-accent-150: var(--color-accent-150);
    --theme-accent-200: var(--color-accent-200);
    --theme-accent-250: var(--color-accent-250);
    --theme-accent-300: var(--color-accent-300);
    --theme-accent-350: var(--color-accent-350);
    --theme-accent-400: var(--color-accent-400);
    --theme-accent-450: var(--color-accent-450);
    --theme-accent-500: var(--color-accent-500);
    --theme-accent-550: var(--color-accent-550);
    --theme-accent-600: var(--color-accent-600);
    --theme-accent-650: var(--color-accent-650);
    --theme-accent-700: var(--color-accent-700);
    --theme-accent-750: var(--color-accent-750);
    --theme-accent-800: var(--color-accent-800);
    --theme-accent-850: var(--color-accent-850);
    --theme-accent-900: var(--color-accent-900);
    --theme-accent-950: var(--color-accent-950);
    --theme-accent-1000: var(--color-accent-1000);
}

/* Nav Button */
.hamburger__wrapper {
    background-color: var(--theme-elevation-500);
    font-family: Verdana;
    color: var(--theme-elevation-0);
}

.hamburger:before {
    background-color: var(--theme-elevation-500);
    font-family: Verdana;
    color: var(--theme-elevation-0);
}

.hamburger:after {
    background-color: var(--theme-elevation-500);
    font-family: Verdana;
    color: var(--theme-elevation-0);
}

/* Nav Group Toggle */
.nav-group__toggle {
    font-family: Verdana;
    font-size: 19px;
    font-weight: normal;
    color: var(--theme-elevation-0);
    background-color: var(--theme-elevation-500);
    border: 0px solid #000000;
}

/* Nav Group Icon */
.nav-group__indicator svg .stroke {
    stroke: var(--theme-elevation-0);
}

/* Nav Group Label */
.nav-group__label {
    color: var(--theme-elevation-0);
    padding-top: 19px;
    padding-bottom: 19px;
}

/* Nav */
.nav {
    background-color: var(--theme-elevation-500);
    font-family: Verdana;
    font-weight: normal;
    font-size: 15px;
    color: var(--theme-elevation-0);
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
}

/* Dashboard Card Labels */
.dashboard__label {
    fontFamily: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-family: Verdana;
    font-size: 19px;
    font-weight: bold;
}

/* Dashboard Card */
.card {
    background-color: var(--theme-elevation-500);
    border: 1px solid var(--theme-elevation-0);
    font-family: Verdana;
    font-weight: normal;
    border-radius: 19px;
    padding-left: 22px;
    padding-right: 22px;
    color: var(--theme-elevation-0);
}

/* Dashboard Card Title */
.card__title {
    fontFamily: Impact;
    font-family: Verdana;
    font-weight: bold;
    padding-top: 4px;
    padding-bottom: 4px;
}

/* Dashboard Card Action Button */
.card__actions {
    font-family: Verdana;
    font-weight: normal;
}

/* Background */
.template-default__wrap {
    font-family: Verdana;
    font-size: 17px;
}

/* Primary Button */
.btn--style-primary {
    background-color: var(--theme-elevation-500);
    font-family: Verdana;
    font-size: 16px;
    border: 2px solid var(--theme-elevation-650);
    border-radius: 21px;
    color: var(--theme-elevation-0);
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Pill */
.pill {
    font-family: Verdana;
    font-size: 15px;
    font-weight: bold;
    background-color: var(--theme-elevation-250);
    border: 2px solid var(--theme-elevation-450);
    border-radius: 19px;
    color: var(--theme-elevation-800);
}

/* Input Field */
.field-type.text:not(.has-many) input {
    border: 1px solid var(--theme-elevation-800);
    font-family: Verdana;
    font-size: 16px;
    border-radius: 18px;
}

/* Document Header */
.doc-header__title {
    font-family: Verdana;
    font-size: 29px;
    font-weight: bold;
}

/* Success Toast Close Button (empty) */
.Toastify .Toastify__close-button--success {}

/* Success Toast Progress Bar (empty) */
.Toastify .Toastify__toast--success .Toastify__progress-bar {}

/* Success Toast (empty) */
.Toastify .Toastify__toast--success {}

/* Success Toast Close Button (empty) */
.Toastify .Toastify__close-button--error {}

/* Success Toast Progress Bar (empty) */
.Toastify .Toastify__toast--error .Toastify__progress-bar {}

/* Success Toast (empty) */
.Toastify .Toastify__toast--error {}

/* Collapsible */
.collapsible {
    border-radius: 19px;
    font-family: Verdana;
    font-weight: bold;
    font-size: 16px;
}

/* Collapsible Content */
.collapsible__content {
    background-color: var(--theme-elevation-0);
    font-family: Verdana;
    font-size: 17px;
    border: 0px solid #000000;
    border-radius: 29px;
}

/* Collapsible Toggle */
.collapsible--style-default>.collapsible__toggle-wrap .collapsible__toggle {
    background-color: var(--theme-elevation-50);
    font-family: Verdana;
    font-size: 16px;
    border-radius: 19px;
}

/* Collapsible Style Default */
.collapsible--style-default {
    border: 2px solid var(--theme-elevation-200);
    font-family: Verdana;
    border-radius: 21px;
}

/* Table Row Odd */
.table tbody tr:nth-child(odd) {
    background-color: var(--theme-elevation-350);
    font-family: Verdana;
    font-size: 15px;
    border: 1px solid;
    border-radius: 19px;
}

/* Search Filter Wrapper */
.list-controls__wrap {
    font-family: Verdana;
    border-radius: 29px;
    border: 2px solid var(--theme-elevation-800);
}

/* Search  Input */
.search-filter__input {
    font-family: Verdana;
    border-radius: 42px;
    border: 0px solid;
}

html[data-theme='light'] {
    /* light Theme Colors */
    --theme-accent-0: var(--color-accent-900);
    --theme-accent-50: var(--color-accent-850);
    --theme-accent-100: var(--color-accent-800);
    --theme-accent-150: var(--color-accent-750);
    --theme-accent-200: var(--color-accent-700);
    --theme-accent-250: var(--color-accent-650);
    --theme-accent-300: var(--color-accent-600);
    --theme-accent-350: var(--color-accent-550);
    --theme-accent-400: var(--color-accent-450);
    --theme-accent-450: var(--color-accent-400);
    --theme-accent-550: var(--color-accent-350);
    --theme-accent-600: var(--color-accent-300);
    --theme-accent-650: var(--color-accent-250);
    --theme-accent-700: var(--color-accent-200);
    --theme-accent-750: var(--color-accent-150);
    --theme-accent-800: var(--color-accent-100);
    --theme-accent-850: var(--color-accent-50);
    --theme-accent-900: var(--color-accent-0);
    --theme-accent-950: var(--color-accent-0);
    --theme-accent-1000: var(--color-accent-0);
}


.color__input-container .color__color-preview {
    border: 1px dashed #ffb3b3;
    border-radius: 10px 0px 0px 10px;
}

.color__input-container input[data-rtl="false"] {
    border: 1px dashed #ffb3b3 !important;
    border-radius: 0px 10px 10px 0px !important;
}

.nav-group__content .nav__link {
    padding: 10px 5px !important;
}

.nav-group__indicator {
    margin: 7px 5px;
}

.collapsible--style-default>.collapsible__toggle-wrap {
    border-radius: 20px !important;
}